.rating-views {
    border: 0.0625rem solid black;
    border-radius: 3.125rem;
    margin-bottom: 1.25rem;

    .rating-grid {
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        gap: 0.625rem;
        flex-wrap: wrap;

        @media (max-width: $tabs) {
            justify-content: center;
        }

        @media (max-width: $mobile) {
            padding: 1.5rem;
        }

        .rating-block {
            display: flex;
            gap: 0.9375rem;
            width: 16rem;
            align-items: center;

            @media (max-width: $tabs) {
                width: 100%;
                justify-content: center;
            }

            .rating-number {
                margin: 0;
                font-size: 1.625rem;

                @media (max-width: $tabs) {
                    width: 3.75rem;
                }
            }

            .rating-type {
                margin: 0;
                font-size: 1.125rem;
            }
        }
    }
}